#greeting, #track-name, #css, #java, #ruby, #c-sharp {
  display: none;
}
h1 {
  text-align: center;
  text-shadow: 2px 2px #fff;
  padding-top: 90px;
  padding-bottom: 90px;
  padding-right: 5px;
  padding-left: 5px;
  background-image: url("../img/background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}
h2 {
  text-align: center;
  padding: 20px;
  background-color: #e6e6e6;
  margin-bottom: 0px;
  border-left: 1px solid #808080;
  border-right: 1px solid #808080;
  border-top: 1px solid #808080;
}
h4 {
  padding-top: 5px;
  padding-bottom: 15px;
}
#greeting {
  color: #00ace6;
}
.container {
  margin-bottom: 75px;
}
.results {
  padding-top: 30px;
}
.result-box{
  margin: 0px;
  padding: 10px;
  border: 1px solid #808080;
}
.track-description {
  padding-top: 10px;
}
